<title>arrayOperationApplication</title>
  <h1>Array Operation</h1>
  <h5>Is (array1 op array2)== array3 ?</h5>
  <h5>This app checks whether the result of the chosen arithmetic operation of the two given arraylists is equal to the other arraylist.</h6>
  <h5> Array lengths must be equal ! </h5>
  <h5> In each line, there must be only one element! </h5>
  <h4>Parameters: int arraylist1,char operator, int arraylist2, int arraylist3</h4>
    Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

