<title>arrayOperationApplication</title>
  <h1>Array Operation</h1>
  <h1>Parameters: number array1, operator, number array2, number array3</h1>
  <h1>Is array1 op array2==array3 ?</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

